body {
    background: #facf5a;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

p {
    margin: 20px;
}

.croissant-photo {
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
}

a.links {
    margin: 10px;
    color: #600E17;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}